h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    border: 0px 30px 100px;
}
nav button{
    height: 36px;
    background-color: none;
    border-color: green;
}

main{
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-evenly;
}
.btn-primary{

}

button{
    border-radius: 7px;
   
}
.hero-sec{
    justify-content: space-between;
    display: flex;
    background-color: rgba(172, 240, 172, 0.623);
    border-radius: 10px;
    width: 80%;
    padding: 10px 30px;
}

.pillars{
    display: flex;
}
.pill-box{
    border: 10x;
    border-color: black;
}
.vision{
    display: flex;
}

.quote{
    background-color: antiquewhite;
    border-radius: 10px;
    /* background-image: url(); */
}

.news{
    display: flex;
}

.donate-button{
    display: flex;
}
#newsletter-email{
    display: flex;
}
.footer-icons{
    display: flex;
}